[2019-10-14 17:55] Jeffwan opened #1 "Can not compile SageMaker examples"
Trying our your Kubeflow/SageMaker notebook in your workshop and received a pipeline compile error.

![image](https://user-images.githubusercontent.com/4739316/66772250-1e628900-ee71-11e9-92f0-afceb992313a.png)

[2019-10-14 17:57] Jeffwan commented on #1
This is reported by user and the problem is kubeflow pipeline has some breaking changes on parameters but we always install latest KFP pipeline which is not compatible.

Short term. use lower kfp version
[code]

Long term, update examples and make sure it leverages latest features of KFP.

[2019-10-22 20:09] Jeffwan opened #2 "Upgrade to kubeflow 0.7"
Lots of examples might be outdated. In order to run examples against kubeflow 0.7.
Let's make sure apiVersion are still compatible with control plane.

[2019-10-31 00:20] arun-gupta opened #3 "Katib samples need to be updated to v1alpha3"
Katib samples use `v1alpha2` APIs, need to be updated to `v1alpha3`

[2019-10-31 00:38] Jeffwan commented on #3
Katib examples have been updated. We can close this story.

[2019-10-31 00:38] #3 closed

[2019-10-31 00:39] Jeffwan commented on #2
I've tried all examples and api version in examples have been upgraded to v0.7 compatible. We can close this issue

[2019-10-31 00:39] #2 closed

[2019-10-31 18:35] otterley opened #6 "Need step to create ECR repository"
ECR repository `fairing-job` needs to be created before trying to push to it.  A step in the Jupyter notebook should be added.

[2019-10-31 18:49] otterley opened #7 "fairing job backend: Papermill not installed in remote pod"
[code]

[2019-10-31 19:00] otterley opened #8 "02_06_fairing_e2e: unique S3 bucket required"
In 02_06_fairing_e2e, the S3 bucket name is hardcoded, which causes a collision in the XGBoost model training step.

[2019-10-31 19:59] mshapirov opened #9 "05_02_Pipeline_lightweight missing import for kfp components"
Step:
add_op = comp.func_to_container_op(add, base_image='python:3.6.8')

Fails with unknown identifier for comp.

Can be fixed by adding import to the function definition step:
[code]

[2019-10-31 20:45] Jeffwan commented on #6
@otterley Thanks. This is good. I think one more thing I can improve this is add support in fairing project to check `fairing-job` before it push images. If this is not found, we can have some initialization.

I will file PR to workshop for short term solution and PR to kubeflow/fairing for long term

[2019-10-31 20:46] Jeffwan commented on #9
Ah.. I have similar issues yesterday and I probably forget to import the libraries. Thanks. I will file a PR  to address this issue

[2019-10-31 20:47] Jeffwan commented on #7
Looks like container build process ignore the requirements we pass to fairing. I will have a check

[2019-10-31 21:42] Jeffwan opened #10 "Remove examples not ready"
Based on users' feedback, someone run into issues in some of the notebooks.

1. 02_01 dockerhub example
2. 05_03 kubeflow_tfx examples

Let's remove them temporarily to reduce confusion.

[2019-10-31 21:42] Jeffwan commented on #10
Put it here for backup

[code]

[code]

[2019-10-31 21:45] Jeffwan commented on #10
[code]

[2019-10-31 22:23] Jeffwan commented on #10
[code]

[2019-10-31 22:40] Jeffwan commented on #7
I was using `requirement-example.txt` for testing purpose to avoid override other configs. This can be fixed by changing requirement to `requirements.txt` Otherwise, pip can not recognize the file.

[code]

[code]

[2019-10-31 22:42] Jeffwan commented on #8
Add one note to ask user change to their own bucket

[2019-10-31 22:48] #6 closed

[2019-10-31 22:48] #7 closed

[2019-10-31 22:49] #8 closed

[2019-10-31 22:49] #9 closed

[2019-10-31 22:49] #10 closed

[2019-11-14 20:43] dalbhanj opened #12 "Make it easy to create ECR and S3 in fairing introduction"
Creating ECR repository from notebook interface rather than hopping back and forth between AWS Console will simplify Fairing introduction notebook

[2019-11-14 20:44] dalbhanj commented on #12
!aws ecr create-repository --repository-name fairing-job --region=$REGION

[2019-11-15 21:24] dalbhanj opened #14 "No module named 'kfp.aws'"
I'm getting this error when I run Sagemaker pipeline notebook

Here is the error.
--------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-4-38c0def86066> in <module>
      2 from kfp import components
      3 from kfp import dsl
----> 4 from kfp.aws import use_aws_secret

ModuleNotFoundErr

[2019-11-17 19:55] Jeffwan commented on #14
Yes. Please restart the kernel before moving to next blocks. both 05_01 and 05_04 will be used for workshop. 05_01 will cover installation as well.

[2019-11-17 19:55] #14 closed

[2019-11-17 19:56] Jeffwan commented on #12
Sounds good. I also add some instructions for `us-east-1` which is kind of special.

[2019-11-17 19:56] #12 closed

[2019-12-02 01:24] Jeffwan opened #20 "Training logs keep updating until job finish."
![image](https://user-images.githubusercontent.com/4739316/69924253-517fcc80-145f-11ea-84eb-85be94230f0d.png)

remove `-f` or interrupt the process.

[2019-12-02 07:34] #20 closed

[2019-12-19 17:11] plaffitte opened #22 "AWS access error when running training on Kubernetes pods"
Hi all, I'm trying to run the Kubeflow example provided in the workshop (https://eksworkshop.com/advanced/420_kubeflow/training/) but I'm stuck with an error. The pod fails after creating it with following command:

`kubectl create -f mnist-training.yaml`

The error is the following:

`Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/train-labels-idx1-ubyte.gz
3276

[2019-12-20 14:17] plaffitte commented on #22
After some googling around I have gathered that the problem seems to be related to the endpoint not being specified properly, as per the error message:
`The bucket you are attempting to access must be addressed using the specified endpoint`

It seems that whatever s3 client is being used within tensorflow is not formatting the s3 endpoint correctly.

[2019-12-20 15:06] plaffitte commented on #22
Found the issue, the variable pointing the s3 bucket was wrong. I had written it as follows `s3://<my-bucket-name>` when it was to be like this`<my-bucket-name>.s3.amazon.com`

[2019-12-20 15:06] #22 closed

[2020-02-28 02:06] Jeffwan opened #23 "Add fairing cloud builder (kaniko) examples"
Currently, all our examples use DockerBuilder. This requires user to have a docker client in jupyternotebook.

Fairing supports cloud builder as well. We should add this example for user just like to build an image.

I have finish one e2e example  here. https://github.com/kubeflow/examples/blob/master/mnist/mnist_aws.ipynb

We just need to update fairing one.

[2020-02-28 02:08] Jeffwan opened #24 "Add kfserving examples"
- It would be great to use AWS S3 to host sample models
- ~~Add Instructions to install knative and kfserving~~
- One general example using S3
- One SDK example - Create inference using sdk.
- One e2e examples -> with fairing  or basic mnist training

[2020-02-28 02:10] Jeffwan opened #25 "Reorganize Kubeflow examples"
1. Add one kubeflow native example using tfjob, etc
2. Add taxi cab e2e example
3. Add cloud native example -> Use EMR to process data, Sagemaker to train model, Athena and then K8s to deploy the model?

[2020-02-28 02:12] Jeffwan opened #26 "Add one example to enable Tensorboard"
Put under monitoring examples.

[2020-02-28 02:13] Jeffwan opened #27 "Add MLOPS example"
Use Github Action example for this

[2020-03-05 23:11] Jeffwan opened #28 "Add more metadata tracking examples - notebook and pipeline"
1. Metadata by default is enabled for pipeline project. We want to give more examples to users.
2. In other type of workloads,  like model training, we want to add more examples (this has been added I think - double confirm or update the example if there's API changes).

[2020-03-11 18:21] PatrickXYS commented on #28
1. What type of Metadata examples we want to give? From the repo, I saw that we have [this example](https://github.com/aws-samples/eks-kubeflow-workshop/blob/master/notebooks/07_Experiment_Tracking/07_01_Metadata.ipynb). But for this example, we can only see the Metadata in the Artifacts store.
In my opinion, we can add more metadata notebooks to bootstrap kubeflow pipeline. And our user should be

[2020-03-11 18:44] PatrickXYS commented on #27
According to the description, I found [this repo](https://github.com/machine-learning-apps/actions-ml-cicd), and future plan will be going through the doc and give our MLOPS example.

[2020-03-11 19:02] PatrickXYS commented on #25
1. According to the [Kubeflow doc](https://www.kubeflow.org/docs/components/training/tftraining/), we could rewrite this [mnist example](https://github.com/kubeflow/tf-operator/tree/master/examples/v1/mnist_with_summaries) to a kubeflow pipeline.

2. For taxi cab e2e example, currently it's stuck with TFX and Apache Beam 2.19.0 version. The details of the issue is [here](https://github.com/kubeflo

[2020-03-11 19:08] PatrickXYS commented on #1
Will check on the [SageMaker example](https://github.com/aws-samples/eks-kubeflow-workshop/blob/01438d181f502504056eac89bfc0eb091733e9a8/notebooks/05_Kubeflow_Pipeline/05_04_Pipeline_SageMaker.ipynb) and file a PR to make it leverage the latest features of KFP.

[2020-03-11 22:13] Jeffwan commented on #25
Hi, check this mnist example https://github.com/kubeflow/examples/tree/master/mnist

We want to have a similar one like this but probably convert to a pipeline like train job use tf-operator KFP component, etc.

This is not finalized

[2020-03-11 22:14] Jeffwan commented on #27
Make sure Github Action work for our case and try to come up the best way to integrate with it

[2020-03-12 13:17] PatrickXYS commented on #1
And the master example of [SageMaker Kubeflow Pipeline](https://github.com/kubeflow/pipelines/tree/master/samples/contrib/aws-samples/mnist-kmeans-sagemaker), will try to use [master yaml file](https://github.com/kubeflow/pipelines/tree/master/components/aws/sagemaker). After so, will try to use latest version 2.05 of kfp to make it compatible.

[2020-03-12 13:20] PatrickXYS commented on #1
Potential SageMaker example issues with users: [1st](https://github.com/kubeflow/pipelines/issues/1401) and [2nd](https://github.com/kubeflow/pipelines/issues/1642). But the issue description is not that informative. Will talk with users if necessary.

[2020-03-23 23:18] PatrickXYS commented on #28
From my part, I think current Metadata example is good enough, do you have any idea about other examples in metadata area?

I can give more examples on metadata, but it will be similar to the [metadata example](https://github.com/aws-samples/eks-kubeflow-workshop/blob/master/notebooks/07_Experiment_Tracking/07_01_Metadata.ipynb)'s `Real World Example`. Thus, I'm not sure if this is necessary. @Jef

[2020-03-24 05:37] Jeffwan commented on #28
Check my original asks, I think second one is ok. What about the first one,  pipeline metadata tracking?

[2020-03-24 23:17] PatrickXYS commented on #26
For adding monitoring examples, I plan to use [monitoring visualizer](https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/#example-source), which means I can use ROC, TFDV, Markdown, WebApp, TensorBoard together. I'll file a PR after finished.

[2020-03-25 18:05] Jeffwan commented on #26
Sounds good.  Beside this, create another example to leverage tensorboard controller. Create tensorboard object and controller will create a tensorboard for you. Let you know if you are not sure about it

[2020-03-29 18:32] Jeffwan opened #33 "Improve mnist pipeline example"
https://github.com/aws-samples/eks-kubeflow-workshop/blob/master/notebooks/05_Kubeflow_Pipeline/05_03_Pipeline_mnist.ipynb

1.  Consider to use random names for mnist-ui, mnist-model. Otherwise user has to delete resources to rerun the pipeline. This brings some challenges to  get exact name for inference. There's a tradeoff and we should keep simplification in mind and make changes to improve exp

[2020-03-29 23:06] Jeffwan commented on #33
/cc @PatrickXYS @cfregly

[2020-03-29 23:13] Jeffwan commented on #26
I think Iris example is a great example to demonstrate visualization on the KFP side. Let's clean up the example and check in codes.

Besides that, we should consider visualization from higher level.

1. Like Jupyter + Tensorboard controller example.
2. Like GPU monitoring during the model development.
https://medium.com/rapids-ai/gpu-dashboards-in-jupyter-lab-757b17aae1d5

We can have a sync up n

[2020-03-29 23:16] PatrickXYS commented on #26
Sure, I'm working on it. Should be able to make it next week.

[2020-03-29 23:16] Jeffwan commented on #1
Let's not put time on this one. I will ask SM team to fix Op issue and we can concentrate on others.

[2020-03-29 23:29] Jeffwan opened #35 "Update Fairing instructions"
https://github.com/aws-samples/eks-kubeflow-workshop/tree/master/notebooks/02_Fairing

There're a few issues in 0.7 and that's the reason I wrote a separate guidance for fairing.
A few things have been changed in 1.0.

1. awscli have been added to notebook. However, docker client is not yet, which means dockerBuilder still won't work. We need to address this problem in our image I think.

2. `isti

[2020-03-29 23:34] Jeffwan opened #36 "Setting up testing infrastructure for this repo"
Currently, most of the examples are using Jupyter notebook and in order to make sure they are end to end working, we need some testing infrastructure to test those notebooks.

We have a few challenges for this project, the major issue

1. some commands have to be run outside the notebook.
![image](https://user-images.githubusercontent.com/4739316/77863909-a7306f80-71da-11ea-81af-2d09733b2dd2.png)

[2020-03-29 23:35] Jeffwan opened #37 "Refactor the workshop to further simplify user setup"
We have a few challenges for this project, the major issue

1. some commands have to be run outside the notebook.
![image](https://user-images.githubusercontent.com/4739316/77863909-a7306f80-71da-11ea-81af-2d09733b2dd2.png)

Some of them are aws commands, some of them are kubeflow namespace level operation.
![image](https://user-images.githubusercontent.com/4739316/77863928-cfb86980-71da-11ea-8b2e

[2020-03-31 18:59] cfregly commented on #37
These are big issues, indeed.

Re: S3 bucket - I force users to create the same S3 Bucket that would be created by SageMaker's Default S3 bucket (`sagemaker.Session().default_bucket`).  This is mainly because our workshop combines SageMaker with Kubeflow.  And we typically use Event Engine which creates a new, ephemeral account for each user.

Here's the notebook code:

%%bash

export S3_BUCKET=sa

[2020-04-01 21:12] PatrickXYS commented on #33
Hi @Jeffwan, I was wondering do we really need `have permission to check kubeflow namespace`? Since this is required because the namespace we set in the notebook is `kubeflow`, but if we simply set the namespace as the namespace we created in kubeflow dashboard, then we don't need rolebinding.

For example, if I use below logic to find the namespace I'm using right now not simply `kubeflow`:
[code

[2020-04-01 21:51] Jeffwan commented on #33
@PatrickXYS

Once multi-user pipeline is supported, this will be easier.

Currently, there're two different groups of containers
1. Pipeline runners - by default they are running inside Kubeflow
2. ResourceOps -> katib, tfjob, mnist deployment/svc. If pipeline-runner SA has permission, they can create resources in separate namespaces

I think there're few principles
1. I think it's ok to have pipe

[2020-04-03 00:40] PatrickXYS commented on #33
@Jeffwan The latest PR is able to address No.1, 3, 4. Will put more efforts to solve all the issues.

[2020-04-06 00:19] Jeffwan commented on #23
PR has been merged. We can close the issue

[2020-04-06 00:19] #23 closed

[2020-04-06 00:21] Jeffwan commented on #33
Let's close this issue now. If we have extra feedbacks, we can revisit the issue

[2020-04-06 00:21] #33 closed

[2020-04-07 00:02] PatrickXYS commented on #28
I'll be creating a real-world example with metadata artifacts visualization.

[2020-04-07 03:09] Jeffwan commented on #28
@PatrickXYS for first item or second? If that's second, as we talked, we don't plan to add extra ones, right?

[2020-04-07 17:23] PatrickXYS commented on #28
What I mean is write an example for lineage explorer tracking as we talked, wdyt? @Jeffwan

An example below:
![image](https://user-images.githubusercontent.com/23116624/78700110-ca81ab80-78b9-11ea-809a-8ffaf06eae0f.png)

[2020-04-07 18:48] Jeffwan commented on #35
/assign @PatrickXYS

[2020-04-07 22:38] PatrickXYS commented on #35
1. `Docker client` hasn't been added, thus, we have to keep the image or address the problem in our later image.
2. We're able to get rid of `istio-injection` and I tested all the Fairing examples.
3. I will add instructions to ask users to use enable IAM for SA.

[2020-04-07 22:47] PatrickXYS commented on #35
Besides that, I confirmed that `gcr.io/kubeflow-images-public/tensorflow-2.1.0-notebook-cpu:1.0.0` has installed `docker client` and `awscli`. But if we want to utilize this image, we have to modify Tensorflow codes, some of the APIs have already been deprecated and disabled.

[2020-04-08 00:52] Jeffwan commented on #35
@PatrickXYS Interesting, I didn't see the PR to install Docker client. Unless base image has docker client

[2020-04-08 01:25] PatrickXYS commented on #35
My bad, double-checked and there's no `docker`.  We should build our own eks-kubeflow-workshop image to handle the `no docker client` issue.

[2020-04-08 06:40] Jeffwan commented on #35
PR has been merged and this can be closed

[2020-04-08 06:40] #35 closed

[2020-04-10 14:29] dalbhanj opened #44 "Pipeline mnist gives an error during pipeline run"
Notebook affected: https://github.com/aws-samples/eks-kubeflow-workshop/blob/master/notebooks/05_Kubeflow_Pipeline/05_03_Pipeline_mnist.ipynb

After you submit pipeline, step 3 kubeflow-launch-tfjob fails with this error
Traceback (most recent call last):
  File "/ml/launch_tfjob.py", line 22, in <module>
    import launch_crd
ImportError: No module named launch_crd

[2020-04-10 15:25] PatrickXYS commented on #44
@dalbhanj thank you for proposing the issue, I'll take it over and fix it up.

[2020-04-10 16:24] Jeffwan commented on #44
@PatrickXYS I don't see this issue,  module `launch_crd ` should come from container image, What's the image we are using now? Is it a regression issue after your refactor?

[2020-04-10 16:30] PatrickXYS commented on #44
Yes, it should come from container image, which should be the [image hosted by me](chuckshow/kubeflow-tfjob-launcher:latest). There's no `launch_crd` now. It should be a regression issue after my factor, I'm working on it.

[2020-04-10 17:49] Jeffwan commented on #44
@PatrickXYS As we don't have CI now, try to make sure things work before check in.

[2020-04-10 22:08] PatrickXYS commented on #44
It should be fixed by the merged PR, @dalbhanj  let us know if it's good to go.

[2020-04-12 19:18] PatrickXYS opened #48 "Add example for visualizing pipeline metrics"
Kubeflow Pipelines supports the export of scalar metrics.

We can view the uploaded metrics as a visualization in the Runs page for a particular experiment in the Kubeflow Pipelines UI.

https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/

[2020-04-12 22:20] PatrickXYS commented on #1
Since the updated SageMaker example has been merged, let's close this issue.

[2020-04-12 22:21] #1 closed

[2020-04-13 17:38] Jeffwan commented on #37
@cfregly This is great. We should use more like this rather than a random string for bucket name, etc.

[2020-04-13 20:57] PatrickXYS commented on #48
Since the PR is merged, I'll close this issue.

[2020-04-13 20:58] #48 closed

[2020-04-15 16:35] dalbhanj opened #50 "Editing Clusterrole kubeflow-edit doesn't persist for some reason"
I was following Distributed training tutorial (https://github.com/aws-samples/eks-kubeflow-workshop/blob/master/notebooks/03_Distributed_Training/03_02_Distributed_Training_MPI_Horovod.ipynb) and ran into issue with unable to persist edited role so that you can add recommended policies

How to reproduce:
1) Edit kubeflow-edit role and add policy in desired namespace
kubectl edit clusterrole kubefl

[2020-04-15 17:08] Jeffwan commented on #50
@PatrickXYS Can you help check why `kubeflow-edit` role doesn't work now?  Where's the `kubeflow-kubernetes-edit` from?

[2020-04-15 17:09] Jeffwan commented on #50
This looks like a regression issue. In v0.7.1 at least, `kubeflow-edit` binds to `default-edit` and we don't see this problem.

[2020-04-15 17:14] PatrickXYS commented on #50
@Jeffwan From this [clusterrole manifest](https://github.com/kubeflow/manifests/blob/master/kubeflow-roles/base/cluster-roles.yaml), the `kubeflow-kubernetes-edit` aggregate to `kubeflow-edit` clusterrole. And `kubeflow-edit` has rolebinding with serviceaccount `default-edit`. That's why editing `kubeflow-kubernetes-edit` works.

Besides that, I think editing `kubeflow-edit` also works, but the pr

[2020-04-15 17:43] Jeffwan commented on #50
@PatrickXYS

[code]

`kubeflow-edit` is a clusterRole with aggregationRules, that's the reason the change can not be persisted. Instead, we have to change `kubeflow-kubernetes-edit` to persist the changes, It will be aggregate to  `kubeflow-edit`.

[2020-04-15 17:45] Jeffwan commented on #50
There're two action items

1. Refresh all the workshops to update `kubeflow-kubernetes-edit` instead
2. If something is missing from No.1 in upstream, file a PR to update `kubeflow-kubernetes-edit`.

[2020-04-15 18:18] PatrickXYS commented on #50
@Jeffwan

Right, but instead of  editing clusterrole, I think it should be more efficient to create a clusterrolebinding with `cluster-admin`:

[code]

Besides that, I'll add a logic to find current k8s namespace:
[code]

[2020-04-15 18:32] Jeffwan commented on #50
There's security issue, if you bind cluter-admin, that user have all the access and can even delete kubeflow namespace. Why do you want to give wide permission to non-admin user?

What's the motivation? If we don't specify namespace, then sources we create will be inside user's namespace by default.

[2020-04-15 18:41] PatrickXYS commented on #50
Okay, I was thinking this way saves users without manually editing clusterrole, and I can delete rolebinding at the end of the notebook. Given security issue we shouldn't do this.

The reason I want to find current k8s namespace is: serviceaccount argument requires `<namespace>:<name>` format.

Let's do it by the way editing `kubeflow-kubernetes-edit`, I'll file a PR for updating all the required

[2020-04-15 18:47] Jeffwan commented on #50
Yes. @PatrickXYS I understand your concern. I know limiting user's permission is kind of painful for some of the cases. But this is the right way to go. We need to find the gaps to real multi-user kubeflow cluster.

If we use something like `cluster-admin`, we hide all the problems. If someone ask for restrict settings, we have to start over.

That's same like we use `Adminstrator` to deploy kubef

[2020-04-15 20:04] PatrickXYS commented on #50
I investigate upstream `kubeflow/mpi-operator` repo and found the reason we need to have edited the `kubeflow-kubernetes-edit` is that `mpi-operator` clusterrole hasn't  been aggregated with `kubeflow-edit`. [Link](https://github.com/kubeflow/mpi-operator/blob/master/deploy/mpi-operator.yaml#L54)

An example here is `tf-operator`, [link](https://github.com/kubeflow/manifests/blob/master/tf-trainin

[2020-04-15 23:25] Jeffwan commented on #50
@PatrickXYS There would be a few components like that. Project owners may not know this. Do you want to submit a PR to https://github.com/kubeflow/manifests?

[2020-04-15 23:26] Jeffwan commented on #50
Make sure mxnet-job also have it.

[2020-04-15 23:28] PatrickXYS commented on #50
@Jeffwan Sure, let me check and I'll ping you after I filed a PR.

[2020-04-16 00:05] PatrickXYS commented on #50
Since the PR is merged, and we root cause the issue. Let's close for now.

[2020-04-16 00:05] #50 closed

[2020-04-16 14:11] dalbhanj commented on #44
This isn't resolved yet bcoz it only works in 'us-west-2' region, yeah?

[2020-04-16 15:43] PatrickXYS commented on #44
After investigation, region settings are not the root cause. Let's keep the investigation and updated.

[2020-04-16 16:56] PatrickXYS commented on #50
`xgboost-operator` doesn't have manifest. Thus, I'll file PR for `mxnet-operator` and `mpi-operator` to make the same change as `tf-operator`.

[2020-04-16 17:53] sublimotion opened #52 "Add an example showing EFS drive mounted in a KF pipeline."
There is a need to show an example of static or dynamic mount drive (EFS or FSx) to a kubeflow pipeline.

[2020-04-16 19:02] Jeffwan commented on #44
@PatrickXYS

Can you extract region as an argument? Why do we stick to `us-west-2` now?

[2020-04-16 21:27] Jeffwan commented on #52
Hi @sublimotion

EFS doesn't support dynamic provision. I think one good example is we can create a VolumeOp to dynamically create a FSx and then create a training job using that PVC. After that, delete the volume.

Do you want to make this contribution?

[2020-04-17 01:36] sublimotion commented on #52
@Jeffwan I think there is more people interested in EFS. We can use EFS to mount to a notebook and also mount it to a pipeline. I will try to come up with an example.

[2020-04-17 02:26] Jeffwan commented on #52
Thanks. My point is if we have different categories. We could consider to add tests in jupyter chapter, or pipeline chapter. If you want to have different uses cases on EFS, let's put them in those areas

[2020-04-17 12:45] sublimotion commented on #52
@Jeffwan Do you have any suggestions on how to organize these examples? Should we create another section or folder called 'AWS'? I believe there is another issue that talks about re-organizing all the different examples.

[2020-04-17 23:20] Jeffwan commented on #52
@sublimotion Different AWS services land in different sections. `aws` doesn't sound consistency with existing areas. Check current structure and feel free to propose new sections or fill into exisiting ones

[2020-04-20 01:39] PatrickXYS opened #53 "Remove redundant code snippets in 05_03_Pipeline_Mnist notebook"
Previously we have a workaround for enabling `pipeline-runner` service account to create resource "virtualservices" in API group "networking.istio.io" in the namespace "kubeflow":

![image](https://user-images.githubusercontent.com/23116624/79706092-e8adbb00-826c-11ea-9185-90cd825f62bb.png)

Per [upstream PR](https://github.com/kubeflow/manifests/pull/1060) merged, we'll remove this instruction.

[2020-04-20 01:39] PatrickXYS commented on #53
/assign

[2020-04-20 01:50] Jeffwan commented on #53
@PatrickXYS v1.0.2 has been released. We can do some clean up and cut a v1.0.2 release for this repo

[2020-04-20 14:22] PatrickXYS commented on #53
Sure, I'll test v1.0.2 compatibility with eks-kubeflow-workshop this week. And meanwhile clean up redundant code snippets / instruction, etc.

[2020-04-20 17:23] Jeffwan commented on #53
@PatrickXYS Excellent!

[2020-04-21 19:46] JMV1072 opened #54 "MLflow EKS Service API 500"
Hello,

I'm following the steps given in the mlflow tracking notebook and I was able to deploy mlflow and port forward to view the UI. The issue I'm having now is logging from a jupyter notebook that is running on another pod on my eks cluster.

I'm trying to execute this code on my notebook:
[code]

But I keep getting the following error:
2020/04/21 19:42:53 ERROR mlflow.utils.rest_utils: API req

[2020-04-21 19:48] #54 closed

[2020-04-21 19:48] TheVillageFool opened #55 "MLflow Server EKS Service API 500"
Hello,

I'm following the steps given in the mlflow tracking notebook and I was able to deploy mlflow and port forward to view the UI. The issue I'm having now is logging from a jupyter notebook that is running on another pod on my eks cluster.

I'm trying to execute this code on my notebook:

[code]

But I keep getting the following error:

Is there anything else I could have missed?

[2020-04-21 21:14] Jeffwan commented on #55
@TheVillageFool  Can you check your pod status? Is mlflow pod running?

[2020-04-22 21:22] TheVillageFool commented on #55
Yes the pod was running. I actually tore down the jupyterhub pod and the mlflow pod and recreated them and now it works. But another issue has come up where I'm trying to use the mlflow ui to view each entry and I get an "Oops! Something went wrong." error page when I select anything on the UI.

[2020-04-22 21:51] #53 closed

[2020-04-23 17:19] JMV1072 opened #57 "EKS MLflow Server Artifact Error"
I'm trying to create a docker image to run mlflow on an eks pod. it is able to deploy and store info to my postgres backend, but I get the following error when attempting to save my artifacts to s3:

`An error occurred (AccessDenied) when calling the AssumeRoleWithWebIdentity operation: Not authorized to perform sts:AssumeRoleWithWebIdentity`

I'm setting the env variables in my dockerfile. Why wo

[2020-04-23 17:43] #55 closed

[2020-04-23 20:05] #44 closed

[2020-04-24 00:47] PatrickXYS commented on #57
Hi, have you attached the S3FullAccess Policy to your nodeintancerole?

[2020-04-24 14:18] #57 closed

[2020-04-25 00:31] Jeffwan commented on #24
Let's use original model from gcs now. Once we can public S3, we move model there

[2020-04-25 00:34] Jeffwan opened #59 "Add seldon core example"
https://www.kubeflow.org/docs/components/serving/seldon/

[2020-04-30 19:47] dalbhanj opened #60 "Add example on how to use elastic inference"
Customers want to use Elastic Inference (https://aws.amazon.com/machine-learning/elastic-inference/) to save cost while running inference. An example showcasing this in a notebook would be great.
Also, would be good to highlight some limitations customers may run into while using Elastic Inference

[2020-04-30 23:57] PatrickXYS commented on #60
I think we could bring up an example of Elastic Inference services.

@Jeffwan what do you think?

[2020-05-01 20:40] Jeffwan commented on #60
Here's the [example](https://github.com/aws-samples/amazon-elastic-inference-eks) from blog [post](https://aws.amazon.com/blogs/machine-learning/optimizing-tensorflow-model-serving-with-kubernetes-and-amazon-elastic-inference/)

This is kind of hack and I am still waiting for more native kubernetes integrations. We can design a device plugin for this. For short term, we can consider to add an exam

[2020-05-10 19:53] #59 closed

[2020-05-10 19:53] #24 closed

[2020-05-21 17:37] dalbhanj opened #67 "Running into an issue with KFserving notebook"
**Notebook**
Which notebook you have problem with? e.g. 06_02_Kfserving.ipynb

**Describe the bug**
A clear and concise description of what the bug is.
Inference service doesn't come up for some reason

 kubectl get inferenceservice -A
NAMESPACE     NAME            URL   READY   DEFAULT TRAFFIC   CANARY TRAFFIC   AGE
eksworkshop   flower-sample         False

Hence the subsequent step after this f

[2020-07-02 06:56] tommcm1200 opened #68 "ImportError: cannot import name 'V1alpha2TensorRTSpec'"
**Notebook**
02_01_fairing_introduction.ipynb

**Describe the bug**
ImportError: cannot import name 'V1alpha2TensorRTSpec'

**Expected behavior**
Not to error

**Environment (please complete the following information):**
Related to this: https://github.com/kubeflow/fairing/issues/521

**Workaround:
Use kfserving==0.3.0.1 while ^^ issue is being fixed.

!pip uninstall kfserving —yes
!pip install -I

[2020-07-06 22:06] Jeffwan commented on #68
@tommcm1200 Thanks for reporting the issue. I will have a check on the python library.

to mitigate your issue, please try images below. They are aws built images and I tested they should work well.

          - 527798164940.dkr.ecr.us-west-2.amazonaws.com/tensorflow-1.15.2-notebook-cpu:1.0.0
          - 527798164940.dkr.ecr.us-west-2.amazonaws.com/tensorflow-1.15.2-notebook-gpu:1.0.0
          -

[2020-07-06 22:08] Jeffwan opened #69 "Update KFServing examples to use S3 instead of gs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
We should create a public S3 buckets to store saved model. Create this issue to move models to S3 and get rid of gs bucket.

**Additional context**
Add any other context or screenshots about the feature

[2020-08-04 18:55] dalbhanj opened #70 "Error: found errors when executing run: <run_id>. Click Details for more information."
**Notebook**
Which notebook you have problem with? 05_04_Pipeline_SageMaker.ipynb

**Describe the bug**
I was getting an error while executing kfp run with Sagemaker notebook. Its possible that the latest kfp sdk has breaking changes that affects this run

**Expected behavior**
kfp pipeline should run Sagemaker jobs as defined in the notebook

**Screenshots**
If applicable, add screenshots to help

[2020-08-04 19:59] Jeffwan commented on #70
PR merged. this should be resolved

[2020-08-04 19:59] #70 closed

[2020-08-06 12:29] swarnaditya commented on #22
saved my ass

[2020-08-20 20:57] dalbhanj opened #72 "02_01_fairing_introduction ModuleNotFoundError: No module named 'tensorflow.python.util.module_wrapper'"
**Notebook**
Which notebook you have problem with? 02_01_fairing_introduction

**Describe the bug**
I'm getting an error when I run remote_train() with latest notebook server image (527798164940.dkr.ecr.us-west-2.amazonaws.com/tensorflow-1.15.2-notebook-cpu:1.0.0)

Here are the logs from notebook

`[I 200820 20:51:08 config:125] Using preprocessor: <kubeflow.fairing.preprocessors.function.Function

[2020-08-20 21:02] dalbhanj commented on #72
After changing the tensorflow image to 1.15, the remote fairing job completed successfully
`fairing.config.set_builder('append', base_image='tensorflow/tensorflow:1.15.0-py3', registry=DOCKER_REGISTRY, push=True)
`

[2020-08-26 21:22] PatrickXYS opened #73 "Test for aws-kf-ci-bot Github Webook functionality"
We'll test in this issue against `aws-kf-ci-bot` github webhook functionality.

[2020-08-26 21:22] PatrickXYS commented on #73
/assign @aws-kf-ci-bot

[2020-09-08 17:20] Jeffwan commented on #73
/cat

[2020-09-08 17:35] Jeffwan commented on #73
/lgtm

[2020-09-08 18:58] PatrickXYS commented on #73
/assign

[2020-09-08 19:04] PatrickXYS commented on #73
/close

[2020-09-08 19:16] PatrickXYS commented on #73
/assign

[2020-09-08 19:17] PatrickXYS commented on #73
/cat

[2020-09-08 19:17] PatrickXYS commented on #73
/close

[2020-09-08 19:22] PatrickXYS commented on #73
/assign @Jeffwan

[2020-09-08 21:13] Jeffwan commented on #73
/meow

[2020-09-08 21:33] Jeffwan opened #76 "Use Prow to manage CI of EKS kubeflow workshop"
**Is your feature request related to a problem? Please describe.**

1. Need to apply `/lgtm` and `/approve` labels in PR from owners, similar like kubernetes and kubeflow community
2. Need to enable e2e testing pipeline for the workshop.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Setup webhook to publish github events to EKS internal prow clu

[2020-09-13 23:33] PatrickXYS commented on #73
/meow

[2020-09-13 23:44] PatrickXYS commented on #73
/test ?

[2020-09-14 17:07] Jeffwan opened #78 "Add papermill test sample"
**Is your feature request related to a problem? Please describe.**
Let's try to create a papermill presubmit test.

**Describe the solution you'd like**
write `tests/` folder and put test notebook there.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-09-14 17:14] Jeffwan commented on #78
/assign @Jeffwan

[2020-09-23 16:47] Jeffwan opened #82 "Update KFP Sagemaker component to v1.1 compatible"
**Is your feature request related to a problem? Please describe.**

Marin team will help maintain
https://github.com/aws-samples/eks-kubeflow-workshop/blob/master/notebooks/05_Kubeflow_Pipeline/05_04_Pipeline_SageMaker.ipynb in this workshop.

We will add some notice or even remove it from workshop if it won't be updated.

@phiamazon

**Describe the solution you'd like**
A clear and concise descri

[2020-09-28 17:30] ssbhat opened #83 "04_Tensorflow_Extended Notebooks Python Dependency Failure"
Notebook
Which notebook you have problem with?
04_01_TensorFlow_Data_Validation.ipynb
04_02_TensorFlow_Transform.ipynb
04_03_TensorFlow_Advanced_Transform.ipynb
04_04_TensorFlow_Model_Analysis.ipynb

Describe the bug
These Notebooks depend on the Python2, so the assertion fails during the initial imports.
---------------------------------------------------------------------------
AssertionError

[2020-10-08 18:10] #78 closed

[2020-10-09 12:40] radhakrishnang opened #84 "Error while submit the pipeline 05_03_Pipeline_mnist -"
**Notebook**
 05_03_Pipeline_mnist.ipynb

**Describe the bug**
pipeline = kfp.Client().create_run_from_pipeline_func(mnist_pipeline, arguments={"s3bucketexportpath":'{}/export'.format(s3_bucket_path)})
in the step *Submit the pipeline* i am getting exception

ApiException: (403)
Reason: Forbidden
HTTP response headers: HTTPHeaderDict({'content-length': '19', 'content-type': 'text/plain', 'date': '

[2020-10-09 14:51] radhakrishnang opened #85 "Error while running the pipeline 05_03_Pipeline_mnist.ipynb"
**Notebook**
 05_03_Pipeline_mnist.ipynb

**Describe the bug**
in the third step of the pipeline we are getting struck

**Expected behavior**
expect the sample pipeline to work without any issues
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/10942003/95589376-4bd11b00-0a62-11eb-9847-ab46f23274e4.png)

**Environment (

[2020-10-09 15:33] PatrickXYS commented on #84
/cc @PatrickXYS

[2020-10-09 15:33] PatrickXYS commented on #85
/assign

[2020-10-10 06:12] PatrickXYS commented on #84
/assign

[2020-10-13 17:00] radhakrishnang opened #86 "05_03Pipeline_mnist.ipynb getting timeout in kubeflow-launch-tfjob"
**Notebook**
 05_03_Pipeline_mnist.ipynb

**Describe the bug**
Failing in step 3 : kubeflow-launch-tfjob - Timeout waiting

INFO:root:Current condition of kubeflow.org/tfjobs mnist-5500928c-3475-4dd7-9463-570f5c0a494a in namespace anonymous is Created.
Traceback (most recent call last):
  File "/ml/launch_tfjob.py", line 136, in <module>
    main()
  File "/ml/launch_tfjob.py", line 131, in main

[2020-10-13 17:09] radhakrishnang opened #87 "VFS connection does not exist - kubeflow dashboard url"
**Notebook**
Kubeflow Dashboard - Specific to eksworkshop 1.01 setup

**Describe the bug**
VFS connection does not exist - error coming up when kubeflow dashboard URL is opened in different system or browser
earlier we are able to share the dashboard link and work remotely, no we are unable to work in other system only opening in one browser where we have cloud 9

**Expected behavior**
expect the

[2020-12-03 04:29] #73 closed

[2021-03-17 16:09] theofpa commented on #52
The chicago taxi TFX example using KF pipeline is working in AWS with EFS, just by creating the `my-pvc` using the efs storageclass, and putting the example data there. I'll prepare a PR and link it here when ready.

[2021-07-26 16:15] delonx opened #91 "RBAC access denied on using Kubeflow SDK to create Pipeline"
**Notebook**
Which notebook you have problem with?
01_03_Notebook_Development_Pipeline

**Describe the bug**
A clear and concise description of what the bug is.
error on create_experiment() step of notebook
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
create experiment successfully

**Screenshots**
If applicable, add screenshots to help explain your

[2021-07-26 18:16] delonx commented on #91
I fixed it by updating the cell to use:
[code]
this is inspired by first part of https://www.kubeflow.org/docs/distributions/aws/pipeline/

see results:
![Screenshot 2021-07-27 at 2 19 14 AM](https://user-images.githubusercontent.com/74314541/127038799-bb611979-9470-4037-ab50-f9a39b2f9142.png)

[2022-04-11 23:25] charlescurt commented on #52
@theofpa Hi, did you ever make that PR? I am currently building a kfp with efs.